.playlist-maker-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
    width: 100vw;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 22vw;
    height: 80%;

    overflow: scroll;

    flex: 1;

}

.playlist-container::-webkit-scrollbar {
    display: none;
}

.playlist-maker-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 90%;

    flex: 2;
}

.playilst-modifiers-container {
    display: flex;
    align-items: end;
    justify-content: space-around;

    gap: .5rem;
    margin-bottom: 1.5rem;
}

#reject,
#add {
    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#reject:hover {
    background-color: #ed2c3f;
    transform: scale(1.04);
}

#add:hover {
    background-color: #1ed760;
    transform: scale(1.04);
}

#add:active,
#reject:active {
    transform: scale(.95);
}

#reject {
    display: flex;
    padding: .6rem;
}

#reject img {
    width: 1.7rem;
}

#add {
    display: flex;
    padding: 1rem;
}

#add img {
    width: 1.8rem;
}

.playlist-maker-right {

    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 4rem;

    flex: 1;

    

    /*
    background-color: darkkhaki;
    
    */
}

.playlist-name-input {
    outline: none;
    border: none;

    width: 70%;

    background-color: #1f1f1f;
    color: white;
    caret-color: #1ed760;
    border-bottom: 1px solid #1ed760;
    border-radius: 5px;

    padding: 1rem;
}

.create-playlist-button {
    background-color: #1f1f1f;
    border: none;
    border-radius: 5px;

    margin-right: 3rem;
    padding: .8rem 1.2rem;

    color: white;

    cursor: pointer;
}

.create-playlist-button:hover {
    background-color: #282828;
}

.playlist-maker-right a {
    color: white;
    margin-right: 3rem;
}

.playlist-maker-right a:hover {
    color: #1ed760;
}


@keyframes swipeLeft {
    from {
        transform: translateX(0) rotate(0deg);
        /* Inicia na posição original */
        opacity: 1;
    }

    to {
        transform: translateX(-100%) rotate(-30deg);
        /* Desliza para a direita */
        opacity: 0;
    }
}

@keyframes swipeRight {
    from {
        transform: translateX(0) rotate(0deg);
        /* Inicia na posição original */
        opacity: 1;
    }

    to {
        transform: translateX(100%) rotate(30deg);
        /* Desliza para a direita */
        opacity: 0;
    }
}

.left-exit {
    animation: swipeLeft .5s forwards;
    /* Aplica a animação de swipe ao sair */
}

.right-exit {
    animation: swipeRight .5s forwards;
    /* Aplica a animação de swipe ao sair */
}

.left-enter,
.right-enter {
    opacity: 0;
    /* Mantém o card invisível antes da animação */
    animation-delay: .5s;
    /* Atraso de 1 segundo */
    animation-fill-mode: forwards;
    /* Mantém o estado final da animação */
}

.animation-container {
    height: 55.5vh;
    width: 18.5vw;
    position: relative;
}

.animation-card {
    position: absolute;
}