.track-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #1f1f1f;
    
    height: 50vh;
    width: 16vw;

    padding: 1.2vw;
    border-radius: 4%;
}

.track-preview-container:hover {
    background-color: #282828;
}

.img-player-container {
    position: relative;
}

.track-preview-container img {
    width: 16vw;
    height: 16vw;
    border-radius: 4%;
}

.track-info {
    width: 16vw;

}

.track-name {
    font-size: 1.5vw;
    margin-bottom: 0;
    margin-top: .5vw;

    word-wrap: break-word;
    white-space: normal;
}

.track-artists {
    font-size: 1vw;

    color: rgb(185, 185, 185);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-button {
    position: absolute;
    bottom: .8rem;
    right: .5rem;

    background-color: #1db954;
    color: black;

    width: 3.6vw;
    height: 3.6vw;

    padding: .2rem;
    
    border: none;
    border-radius: 50%;
    
    font-size: 1.5rem;
    cursor: pointer;
}

.play-button:hover {
    background-color: #1ed760;
    transform: scale(1.02);
}

.track-preview-container audio {
    display: none;
}