.playlist-maker-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
    width: 100vw;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 22vw;
    height: 90%;

    overflow: scroll;
}

.playlist-container::-webkit-scrollbar {
    display: none;
}

.playlist-maker-center {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90%;

    flex: 3;
}

.playilst-modifiers-container {
    display: flex;
    align-items: end;
    justify-content: space-around;

    gap: .5rem;
    margin: .5rem;
}

#reject, #add {
    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#reject:hover {
    background-color: #ed2c3f;
    transform: scale(1.07);
}

#add:hover {
    background-color: #1ed760;
    transform: scale(1.07);
}

#add:active, #reject:active {
    transform: scale(.95);
}

#reject {
    display: flex;
    padding: .6rem ;
}

#reject img {
    width: 1.7rem;
}

#add {
    display: flex;
    padding: 1rem;
}

#add img {
    width: 1.8rem;
}

.playlist-maker-right {
    border: 1px solid lightblue;

    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1;
}